.header {
    background-color: #222222;
    color: white;
    padding: 20px 0;

    &__wrap {
        @include centerBlock;
    }

    &__left a {
        text-decoration: none;
        margin-right: 41px;
    }

    &__right a:not(:last-child) {
        margin-right: 33px;
    }
}



